#home-page {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #141414; }
  #home-page #title {
    color: #ffffff;
    font-family: 'Monstserrat', sans-serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 84px;
    letter-spacing: 0.38px; }
  #home-page #text {
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.09px;
    margin-top: 31px; }

#statistic {
  background-color: #10c9c3;
  padding: 100px 0; }
  #statistic .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #statistic .container .container-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      #statistic .container .container-item .container-item-img img {
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      #statistic .container .container-item .container-item-text {
        padding-left: 27px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        color: #ffffff;
        font-family: 'Monstserrat', sans-serif;
        font-weight: 500;
        line-height: 30px;
        text-transform: uppercase; }
        #statistic .container .container-item .container-item-text .count {
          font-size: 18px;
          letter-spacing: 0.54px; }
        #statistic .container .container-item .container-item-text .title {
          font-size: 12px;
          letter-spacing: 1.2px; }

#aboutme {
  height: 573px; }
  #aboutme .container {
    display: grid;
    grid-template-columns: 585px 585px; }
    #aboutme .container .container-img {
      position: relative;
      /*off this*/
      /*end*/ }
      #aboutme .container .container-img img {
        width: 585px;
        height: 573px; }
    #aboutme .container .container-text {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      background-color: #f5f5f5;
      padding: 0px 87px; }
      #aboutme .container .container-text h1 {
        color: #171717;
        font-family: 'Monstserrat', sans-serif;
        font-size: 30px;
        font-weight: 500;
        line-height: 84px;
        letter-spacing: 0.3px; }
      #aboutme .container .container-text p {
        font-family: 'Nunito Sans', sans-serif;
        color: #787878;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.08px; }
      #aboutme .container .container-text img {
        width: 223px;
        height: 57px; }

#callback {
  background-color: #ffffff; }
  #callback .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 100px 0px; }
    #callback .container h1 {
      color: #1d1d1d;
      font-family: 'Monstserrat', sans-serif;
      font-size: 30px;
      font-weight: 500;
      line-height: 84px;
      letter-spacing: 0.3px; }
    #callback .container p {
      font-family: 'Nunito Sans', sans-serif;
      color: #787878;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.08px; }
    #callback .container .button {
      background-color: #10c9c3;
      padding: 24px 53px;
      margin-top: 36px;
      color: #ffffff;
      font-family: 'Monstserrat', sans-serif;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      text-decoration: none; }
      #callback .container .button:hover {
        color: #10c9c3;
        background-color: #1d1d1d; }
